@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 14px; /* Default is 16px; reducing it will scale everything down */
  }

  body {
    @apply font-primary text-white leading-loose;
    background: black;
  }
  .h1 {
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
  }
  .h2 {
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
  }
  .h3 {
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
  }
  .text-outline {
    -webkit-text-stroke: 1px #ffffff;
  }
  .text-outline-hover {
    -webkit-text-stroke: 1px #ffd700;
  }
}

.swiper-button-next,
.swiper-button-prev {
  background-color: blue; /* Gold circle */
  color: white !important; /* Black arrow */
  border-radius: 50%;
  width: 40px !important; /* Adjust size */
  height: 40px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Ensure Swiper default arrows are properly styled */
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 25px !important; /* Adjust arrow size */
  font-weight: bold;
  color: white !important; /* Force arrow color to black */
}

/* Optional: Change hover effect */
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: darkgoldenrod;
}
